{% load static %}

<footer class="container-fluid p-5">
<div class="d-flex flex-column justify-content-center p-3 text-yellow">
    <div class="row">
        <div class="col col-lg-4 mb-4">
            <h1 class="d-none d-md-flex display-4 header m-0 text-white">Let's connect.</h1>
            <h1 class="d-flex d-md-none display-5 header m-0 text-white">Let's connect.</h1>
            
            <div class="d-flex flex-row flex-md-column">
            {% for contact in footer_contact_infos %}
                {% include "./home/contact-info.html" with link=contact.link prefix=contact.prefix suffix=contact.suffix icon=contact.fontawesome_icon %}
            {% endfor %}
            </div>
        </div>
        
        <div class="col col-lg-8">
            <div class="row">
                {% for category in categories %}
                <div class="col-6 col-lg-2 text-white"> 
                    <h5 class="footer-link text-yellow">{{ category.name | upper }}</h5> 
                    <ul class="list-unstyled">
                    {% if category.subcategory_set.all %}
                        {% for subcategory in category.subcategory_set.all %}
                            <li>
                            <a href="{% url 'subcategory_product_list' category=category.slug subcategory=subcategory.slug %}">
                                {{ subcategory }}
                            </a>
                            </li>
                        {% endfor %} 
                    {% endif %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</footer>