{% load static %}

<div class="col-md-3 side-nav-container">
    <h2 class="title col-sm">My Account</h2> 
    <ul class="nav side-nav flex-column mt-3 pt-3">
        <li class="side-nav-item {% if account %} active {% endif %} mb-3">
            <a class="nav-link" href="{% url 'update_profile' profile.id %}">Profile</a>
        </li>
        <li class="side-nav-item {% if address %} active {% endif %} mb-3">
            <a class="nav-link" href="{% url 'create_and_update_address' profile.id %}">Address book</a>
        </li>
        <li class="side-nav-item {% if order or detail %} active {% endif %} mb-3">
            <a class="nav-link" href="{% url 'account_orders' profile.id %}">Order history</a>
        </li>
    </ul>
</div>