{% load static %}

<div class="col col-md-3 mx-3 mx-md-0 border-right">
    <h2 class="title">My Account</h2> 
    <ul class="nav side-nav flex-column my-3 py-3">
        <li class="side-nav-item {% if account %} active {% endif %} mb-3">
            <a class="nav-link" href="{% url 'update_profile' profile.id %}">Profile</a>
        </li>
        <li class="side-nav-item {% if address %} active {% endif %} mb-3">
            <a class="nav-link" href="{% url 'create_and_update_address' profile.id %}">Address book</a>
        </li>
        <li class="side-nav-item {% if credit %} active {% endif %} mb-3">
            <a class="nav-link" href="{% url 'create_and_update_credit' profile.id %}">Payment Information</a>
        </li>
        <li class="side-nav-item {% if order or detail %} active {% endif %} mb-3">
            <a class="nav-link" href="{% url 'account_orders' profile.id %}">Order history</a>
        </li>
    </ul>
</div>