{% load static %}

<div class="col-md-3 side-nav-container">
    <h2 class="title col-sm">My Account</h2> 
    <ul class="nav side-nav flex-column mt-3 pt-3">
        <li class="side-nav-item active mb-3">
            <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="side-nav-item mb-3">
            <a class="nav-link" href="#">Address book</a>
        </li>
        <li class="side-nav-item mb-3">
            <a class="nav-link" href="#">Order history</a>
        </li>
    </ul>
</div>