{% load static %}
<tr class="orders">
    <td class="product-order">
        <b>{{ order.fname }}</b> 
        <b>{{ order.lname }}</b> | 
        {{ order.address }} 
        {{ order.city }} 
        {{ order.state }} 
        {{ order.zipcode }}
    </td>
    <td class="order-date">
        {{ order.date_ordered }}
    </td>
    <td class="order-status">
        {{ order.status }}
    </td>
    <td class="order-details" {% if order.status != 'Pending' %} colspan="2" style="text-align: center;" {% endif %}>
        <a href="{% url 'order_details' profile.id order.id %}" class="btn-link">Details</a>
        
    </td>
    {% if order.status == 'Pending' %}
    <td>
        <a role="button" data-order="{{ order.id }}"
            class="btn-link"
            data-toggle="modal" 
            data-target=".cancel-form-modal" 
            data-backdrop="false">
            Cancel Order
        </a>
    </td>
        {% endif %}
</tr>