{% load static %}

<!-- current viewed account information -->
<div class="col-md ml-2 pl-2 mb-5">
    <div class="container orders-container mb-5">               
            <div class="pt-5 pb-3">
                <h2 class="title col-sm">Order Details</h2>
            </div>
            
            <hr class="pt-0 mt-0 ml-3">
            
            <div class="table-responsive">
            <table class="table order-history">
                <thead>
                    <tr>
                        <th class="product-image"></th>
                        <th class="product-name">Item Name</th>
                        <th class="product-price">Price</th>
                        <th class="order-quantity">Quantity</th>
                        <th class="order-total">Total</th>
                        <th class="order-return">Action/s</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in details %}
                    <tr class="order-details">
                        <td class="product-image">
                            {% if detail.product.imageURL %}
                                <img src="{{ detail.product.imageURL }}" class="img-fluid">
                            {% else %}
                                <img src="{% static '/images/placeholder.jpg' %}" class="img-fluid">
                            {% endif %}
                        </td>
                        <td class="product-name">
                            {{ detail.product.name }}
                        </td>
                        <td class="product-price">
                            &#8369;{{ detail.product.price|floatformat:2 }}
                        </td>
                        <td class="order-quantity">
                            {{detail.quantity}}
                        </td>
                        <td class="order-total">
                            &#8369;{{ detail.get_total|floatformat:2 }}
                        </td>
                        <td class="order-return">
                            <button data-orderitem="{{ detail }}" class="return-btn" id="return-1" data-toggle="modal" data-target=".return-form-modal" data-backdrop="false">
                                <svg class="return" width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.82057 4.52007V0.749799C9.82041 0.335568 9.42056 -0.000131798 8.92743 3.8818e-08C8.67453 4.39844e-05 8.43356 0.0902203 8.26427 0.248029L0.228524 7.74809C-0.0653366 8.02301 -0.0771077 8.43672 0.200849 8.72311L8.23664 16.9731C8.54887 17.2937 9.11137 17.341 9.49307 17.0787C9.69983 16.9367 9.82 16.7243 9.82057 16.4999V12.7626C16.8742 12.9554 21.276 15.4881 23.26 20.4877C23.3817 20.7936 23.7225 20.9998 24.1064 20.9999C24.1546 21.0001 24.2027 20.9968 24.2502 20.9902C24.6821 20.931 24.9993 20.6176 24.9993 20.2499C24.9993 11.4179 18.6698 4.92955 9.82057 4.52007ZM8.92769 11.2498C8.43455 11.2498 8.03481 11.5856 8.03481 11.9999V14.3999L2.06781 8.27306L8.03486 2.70428V5.24978C8.03486 5.66401 8.43461 5.9998 8.92774 5.9998C15.9457 5.9998 21.1975 10.0791 22.7457 16.3034C19.8715 12.9464 15.2438 11.2498 8.92769 11.2498Z" fill="black"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
    </div>
</div>

{% include "../account/return-form.html" %}
<script type="text/javascript">
$('.return-form-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var orderitem = button.data('orderitem') // Extract info from data-* attributes
    
    $('#orderitem-id').val(orderitem)
  })
</script>
