{% load static %}
        
<div class="table-responsive col">
    <h2 class="title col-sm mb-3">Order history</h2>
    <table class="table order-history mx-3">
        <thead>
            <tr class="text-center"> 
                <th class="product-order">Order Address</th>
                <th class="order-date">Date Ordered</th>
                <th class="order-status">Status</th>
                <th class="order-details" colspan="2">Action/s</th>
            </tr>
        </thead>
        {% if orders %}
        <tbody>
            {% for order in orders %}
                {% include './order-item.html' with order=order %}
            {% endfor %}
        </tbody>
    </table>
        {% else %}
    </table>
        <p style="text-align: center;">No orders made yet.</p>
        {% endif %}
</div>

{% include "../account/cancel-form.html" %}
<script type="text/javascript">
    $('.cancel-form-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var order = button.data('order') // Extract info from data-* attributes
        $('#order-id').val(order)
    })
</script>