{% load static %}
        
<div class="table-responsive col">
    <h2 class="title col-sm mb-3">Order history</h2>
    <table class="table order-history mx-3">
        <thead>
            <tr class="text-center"> 
                <th class="product-order">Order Address</th>
                <th class="order-date">Date Ordered</th>
                <th class="order-status">Status</th>
                <th class="order-details">Action/s</th>
            </tr>
        </thead>
        {% if orders %}
        <tbody>
            {% for order in orders %}
                {% include './order-item.html' with order=order %}
            {% endfor %}
        </tbody>
        {% else %}
        No orders made yet.
        {% endif %}
    </table>
</div>
{% include "../account/return-form.html" %}