{% load static %}

<div class="col-md">
    <div class="table-responsive col">
        <h2 class="title col-sm mb-3">Order Details</h2>
        {% if error %}
        <p class="return-message" style="font-size: 12px; color: rgb(241, 80, 80);">{{ error }}</p>
        {% endif %}    
        <table class="table order-history ml-3">
            <thead>
                <tr class="text-center">
                    <th class="product-image"></th>
                    <th class="product-name">Item Name</th>
                    <th class="product-price">Price</th>
                    <th class="order-quantity">Qty</th>
                    <th class="order-total">Total</th>
                    <th class="order-return">Action/s</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in details %}
                    {% include './order-detail-item.html' with detail=detail %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "partials/account/return-form.html" %}

<style>
.modal-open .modal{
    background-color: rgba(0,0,0,0.7);
}
</style>

<script type="text/javascript">
$('.return-form-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var orderitem = button.data('orderitem') // Extract info from data-* attributes
    $('#orderitem-id').val(orderitem)
})
</script>
