{% load static %}

<!-- current viewed account information -->
<div class="col-md ml-2 pl-2 mb-5">
    <div class="container profile-container">
        <div class="pt-5 pb-4">
            <h2 class="title col-sm">Profile</h2>
        </div>
        <form class="form-horizontal edit-profile" role="form">
            

            <h5 class="subtitle col-sm">Personal information</h5>
            <hr class="pt-0 mt-0 ml-3">
            <div class="form-inline">
                <div class="label col-sm-2 mr-3">
                    <label for="firstName" class="label-field">First name</label>
                </div>
                    
                <div class="col-sm-5">
                    <input type="text" id="firstName" class="form-control" value="{{ profile.fname }}" autofocus>
                </div>
            </div>
            <div class="form-inline">
                <div class="label col-sm-2 mr-3">
                    <label for="lastName" class="label-field">Last name</label>
                </div>
                
                <div class="col-sm-5">
                    <input type="text" id="lastName" class="form-control" value="{{ profile.lname }}" autofocus>
                </div>
            </div>
            <div class="form-inline">
                <div class="label col-sm-2 mr-3">
                    <label for="email" class="label-field">Email</label>
                </div>
                
                <div class="col-sm-5">
                    <input type="email" id="email" class="form-control" value="{{ profile.email }}" name= "email">
                </div>
            </div>
            <div class="container mx-2 mt-5 py-4">
                <button type="submit" class="btn btn-primary black-btn mr-4">Change Password</button>
                <button type="submit" class="btn btn-primary yellow-btn">Save Changes</button>
            </div>
            
        </form> <!-- /form -->
    </div>
</div>