{% load static %}

<div class="modal fade return-form-modal" tabindex="-1" role="dialog" aria-labelledby="returnFormModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="return-form-title">Return Form</h5>
            </div>
            <div class="modal-body">
                <form method="POST">                                            
                    <p><div class="d-inline p-2" id="return-label">Reason for return:</div></p>
                    {% csrf_token %}
                    <div class="input-group">
                        {{ form.description }}
                    </div>
                        {{ form.orderitem_id }}
                    <div class="container mt-3 mb-1 d-flex justify-content-center">
                        <input type="submit" class="btn btn-secondary" id="return-send-button" value="Send">
                        <div class="container"></div>
                        <button type="button" class="btn btn-secondary" id="return-cancel-button" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>