{% load static %}
<style>
	#header {
		height: 104px;
	}

	#brand-logo {
		height: 64px;
		weight: 64px;
	}

	#brand-name {
		
		font-style: normal;
		font-weight: 900;
		font-size: 20px;
		margin: 0;
		padding-left: 15px;
	}

	#login, #divider, #register {
		font-family: Rubik;
		font-size: 15px;
		margin-left: 20px;
	}

	#search-bar {
		border-color: #ABABAB;
		border-radius: 6px;
		height: 40px;
		padding: 12px;
		margin: 24px
	}

	body {
		background-color: #F8F9FA;
		font-family: Overpass;
	}
	
	nav {
		height: 100px;
	}

	.nav-item {
		margin-left: 60px;
		font-family: Source Sans Pro;
		font-size: 16px;
	}

	.nav-item.active {
		font-weight: 500;
		border-bottom: 3px solid #FFCC49;
	}

	#search-bar::placeholder {
		color: #CDCDCD;
		font-family: Source Sans Pro;
		font-size: 12px;
		font-weight: 500;
	}
	
	.dropdown-menu .dropdown-item {
		font-family: Raleway;
		font-size: 12px;
		color: #444444;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #FBFBFB;
	}

	.dropdown-menu.show {
		margin-top: 18px;

		padding: 0;
		border: 0px;

		filter: drop-shadow(0px 4px 48px rgba(0, 0, 0, 0.08));
	}

	.dropdown-item:hover {
		background-color: #FAF6A5;
	}

	#checkout-info{
		background-color: rgb(187, 186, 186);
		display: flex;
	}
	.steps {
		font-family: Source Sans Pro;
		font-size: 13px;
		font-weight: 1000;
		display:inline-block;
		margin:20px auto;
		color: #dfdfdf;
	}
	.step-active{
		color: #000000;
	}
	.fillup-area{
		background-color: rgb(238, 238, 238);
		font-family: Source Sans Pro;
	}
	.col-form-label{
		text-align: right;
	}
	.fillup-group{
		justify-content: center;
		vertical-align: middle;
	}
	.order-method{
		background-color: rgb(187, 186, 186);
	}
	.method-info{
		display: flex;
		justify-content: space-between;
	}
	.method-details{
		font-family: Roboto Mono;
	}
	.prod-img{
		height: 150px;
		width: 150px;
	}
	.prod-header{
		background-color: rgb(187, 186, 186);
	}
	.prod-details{
		background-color: rgb(216, 216, 216);
	}
	.fillup-submit{
		justify-content: right;
		font-family: Roboto Mono;
		font-size: 20px;
	}
	@media screen and (max-width: 768px) {
		.container {
		padding: 0;
		}
		.table td, .table th{
		padding: 2px;
		}
		.prod-img{
			height: 35px;
			width: auto;
		}
		form,
		.table td, .table th, .fillup-submit{
		font-size: 10px;
		} 
		ul li span {
		font-size: 10px !important;
		}
		.steps{
			font-size: 7px;
			padding: 2px;
		}
		.header-info{
			font-size: 15px !important;
			text-align: center;
		}
		.method-details{
			font-size: 7px;
		}
		.order{
			padding-left: 2px !important;
		}
		.order-method{
			padding: 10px !important;
		}
	}

</style>

<h4 class="mb-0 p-3 pt-5 pl-3 fillup-area">Preview order</h4>
<form action="#" class="fillup-area p-4" method="POST">
	<div class="form-group row fillup-group">
		<div class="col-5 p-1">
			<h5 class="header-info">Shipping</h5>
		</div>
		<div class="col-1"></div>
		<div class="col-5 p-1">
			<h5 class="header-info">Payment</h5>
		</div>
	</div>
	<div class="form-group row fillup-group">
		<div class="col-5 p-4 order-method">
			<div class="method-info">
				<span>Address</span>
				<a href="#"><small >Change</small></a>
			</div>
			<br><br>
			<div class="method-details">
				<p class="ml-lg-2">Singalong St.</p>
				<p class="ml-lg-2">Taft Avenue</p>
				<p class="ml-lg-2">1402</p>
				<p class="ml-lg-2">Philippines</p>
			</div>
		</div>
		<div class="col-1"></div>
		<div class="col-5 p-4 order-method">
			<div class="method-info">
				<span>Payment method</span>
				<a href="#"><small >Change</small></a>
			</div>
			<br><br>
			<div class="method-details">
				<p class="ml-lg-2">Credit Card</p>
				<p class="ml-lg-2">Card Number: *1234</p>
			</div>
		</div>
	</div>
	<div class="form-group order-method">
		<div class="method-info p-4">
			<span>Shipping method: </span>
			<span>LBC Express</span>
			<a href="#"><small>Change</small></a>
		</div>
	</div>
	<div class="form-group fillup-group">
		<div class="order pl-5 pt-4">
			<h4 class="header-info">Order contents</h4>
		</div>
	</div>
	<div class="form-group row fillup-group p-2">
		<table class="table" style="text-align: center;">
			<thead class="prod-header">
				<tr>
				<th scope="col" ></th>
				<th scope="col">NAME</th>
				<th scope="col">PRICE</th>
				<th scope="col">QUANTITY</th>
				<th scope="col">TOTAL</th>
				</tr>
			</thead>
			<tbody class="prod-details" >
				<tr>
				<th scope="row" ><img class="prod-img" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/mbp16touch-space-select-201911?wid=1808&hei=1686&fmt=jpeg" alt=""></th>
				<td>Pear McBook Laptop (PRMB-10724DY)</td>
				<td>₱12,345.67</td>
				<td>2</td>
				<td>₱24,691.34</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="form-group row fillup-group p-2">
		<div class="col-lg-8 col-sm-8"></div>
		<div class="col-lg-4 col-sm-4">
			<table class="table" style="text-align: center;">
				<tbody class="prod-details">
					<tr>
						<th scope="col" class="prod-header">CART TOTAL</th>
						<td scope="col" class="prod-details">₱24,691.34</td>
					</tr>
					<tr>
						<th scope="col" class="prod-header">SHIPPING</th>
						<td scope="col" class="prod-details">₱260.00</td>
					</tr>
					<tr>
						<th scope="col" class="prod-header">ORDER TOTAL</th>
						<td scope="col" class="prod-details">₱24,951.34</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<div class="form-inline fillup-submit">
		<input type="submit" class="btn btn-secondary inline-block" value="Place Order">
	</div>
</form>
