{% load static %}

<style>
	#header {
		height: 104px;
	}

	#brand-logo {
		height: 64px;
		weight: 64px;
	}

	#brand-name {
		
		font-style: normal;
		font-weight: 900;
		font-size: 20px;
		margin: 0;
		padding-left: 15px;
	}

	#login, #divider, #register {
		font-family: Rubik;
		font-size: 15px;
		margin-left: 20px;
	}

	#search-bar {
		border-color: #ABABAB;
		border-radius: 6px;
		height: 40px;
		padding: 12px;
		margin: 24px
	}

	body {
		background-color: #F8F9FA;
		font-family: Overpass;
	}
	
	nav {
		height: 100px;
	}

	.nav-item {
		margin-left: 60px;
		font-family: IBM Plex Sans;
		font-size: 16px;
	}

	.nav-item.active {
		font-weight: 500;
		border-bottom: 3px solid #FFCC49;
	}

	#search-bar::placeholder {
		color: #CDCDCD;
		font-family: IBM Plex Sans;
		font-size: 12px;
		font-weight: 500;
	}
	
	.dropdown-menu .dropdown-item {
		font-family: Raleway;
		font-size: 12px;
		color: #444444;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #FBFBFB;
	}

	.dropdown-menu.show {
		margin-top: 18px;

		padding: 0;
		border: 0px;

		filter: drop-shadow(0px 4px 48px rgba(0, 0, 0, 0.08));
	}

	.dropdown-item:hover {
		background-color: #FAF6A5;
	}

	#checkout-info{
		background-color: rgb(187, 186, 186);
		display: flex;
	}
	.steps {
		font-family: IBM Plex Sans;
		font-size: 13px;
		font-weight: 1000;
		display:inline-block;
		margin:20px auto;
		color: #dfdfdf;
	}
	.step-active{
		color: #000000;
	}
	.fillup-area{
		background-color: rgb(238, 238, 238);
		font-family: IBM Plex Sans;
	}
	.col-form-label{
		text-align: right;
	}
	.fillup-group{
		justify-content: center;
		vertical-align: middle;
	}

	@media screen and (max-width: 768px) {
		.container {
		padding: 0;
		}
		.table td, .table th{
		padding: 2px;
		}
		.prod-img{
			height: 35px;
			width: auto;
		}
		form,
		.table td, .table th, .fillup-submit{
		font-size: 10px;
		} 
		ul li span {
		font-size: 10px !important;
		}
		.steps{
			font-size: 7px;
			padding: 2px;
		}
		.col-form-label{
			text-align: left;
		}
	}

</style>

<h4 class="mb-0 p-3 pt-5 pl-5 fillup-area">Fill out your Shipping Information</h4>
<form action="#" class="fillup-area p-4 form-horizontal" method="POST">
	<div class="form-group row fillup-group">
		<label for="first_name" class="col-lg-2 col-sm-3 col-form-label">First Name</label>
		<input class="form-control col-lg-5 col-sm-4" type="text" placeholder="" required>
	</div>
	<div class="form-group row fillup-group">
		<label for="last_name" class="col-lg-2 col-sm-3 col-form-label">Last Name</label>
		<input class="form-control col-lg-5 col-sm-4" type="text" placeholder="" required>
	</div>
	<div class="form-group row fillup-group">
		<label for="address" class="col-lg-2 col-sm-3 col-form-label">Address</label>
		<input class="form-control col-lg-5 col-sm-4" type="text" placeholder="" required>
	</div>
	<div class="form-group row fillup-group">
		<label for="city" class="col-lg-2 col-sm-3 col-form-label">City</label>
		<input class="form-control col-lg-5 col-sm-4" type="text" placeholder="" required>
	</div>
	<div class="form-group row fillup-group">
		<label for="state" class="col-lg-2 col-sm-3 col-form-label">State/Country</label>
		<input class="form-control col-lg-5 col-sm-4" type="text" placeholder="" required>
	</div>
	<div class="form-group row fillup-group">
		<label for="zip_code" class="col-lg-2 col-sm-3 col-form-label">Zip Code</label>
		<input class="form-control col-lg-5 col-sm-4" type="text" placeholder="" required>
	</div>
	<div class="form-group row fillup-group">
		<label for="phone" class="col-lg-2 col-sm-3 col-form-label">Phone Number</label>
		<div class="col-lg-5 col-sm-4" style="display: grid;">
			<input class="form-control" type="text" placeholder="" required>
			<small class="text-muted">In case we need to call you about your order.</small>
		</div>
	</div>
	<div class="form-group row fillup-group">
		<label for="special_instructions" class="col-lg-2 col-sm-3 col-form-label">Special Instructions</label>
		<div class="col-lg-5 col-sm-4" style="display: grid;">
			<textarea class="form-control" type="text" placeholder="" required></textarea>
			<small class="text-muted">Tell us anything we should know when delivering your order.</small>
		</div>
	</div>
	<br><br>
	<div class="form-inline fillup-group">
		<input type="submit" class="btn btn-secondary inline-block" style="font-size: 20px;" value="Continue">
		<span class="ml-1" style="font-size: 13px;">or <a class="inline-block" href="#">return to cart</a></span>
	</div>
	
</form>