{% load static %}
{% load itemsubtotal %}

<div class="card container-fluid d-flex justify-content-center py-4 my-4 cart-item-card-{{ item.product.id }} cart-item-card">
    <div class="row">
        {% include "./quantity.html" %}
        <div class="col-2 d-flex align-items-center"> 
            <img class="w-100" src="{{ item.product.imageURL }}" />
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="container-fluid">
                <h5 class="header-secondary">{{ item.product.name }}</h5>
                <h6 class="price">Price: ₱ <i style="font-style: normal;" class="price-{{item.product.id}}">{{ item.product.price |floatformat:2}}</i></h6>
                <h6 class="price">Subtotal: ₱ <i style="font-style: normal;" class="subtotal-{{item.product.id}}">{% if item.get_total %}
                                                {{ item.get_total |floatformat:2}}
                                              {% else %}
                                                {% getsubtotal item.quantity item.product.price %}
                                              {% endif %}</i></h6>
            </div>
        </div>
        <div class="col-2 d-flex align-items-center"> 
            <a data-product="{{item.product.id}}" style="color: inherit;" class="update-cart" data-action="delete"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
</div>