{% load static %}
{% load humanize %}

<div class="card-shadow p-4 col-12 col-md-6 col-xl-4 h-100" id="sidebar">
    <div class="container-fluid h-100 d-flex flex-column p-0">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col" id="closeBtn">
                <i class="fas fa-times mx-2" type="button"></i>
            </div>
            <div class="row d-flex justify-content-center">
                <h2 class="header-secondary m-0">My Cart</h2>
            </div>
        </div>
        <div class="h-100 overflow-auto cart-card-container"> 
            {% for item in items %}
                {% include './cart-card.html' %}
            {% endfor %}
        </div>

        <div class="container">
            <h5 class="header-secondary">Total: ₱ <i style="font-style: normal;" class="cart-total">{{ order.get_cart_total | floatformat:2 | intcomma }}</i></h5>
        </div>
        <button class="btn btn-primary mb-2 mt-4 mx-4">Proceed to Checkout</button>
        <button onclick="clearCart()" class="btn btn-red mb-4 ml-4 mr-4 mt-0">Clear cart</button>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#closeBtn').click(() => {
        $('#sidebar').css('display', 'none');
    });
})

function clearCart () {
	if (user == 'AnonymousUser'){
		cart = {}
        document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		$(".cart-item-card").remove();
        $(".cart-total").html(0);
	}else{
		var url = '/delete_cart/'

		fetch(url, {
			method:'POST',
			headers:{
				'Content-Type':'application/json',
				'X-CSRFToken':csrftoken,
			}
		})
		.then((response) => {
		   return response.json();
		})
		.then((data) => {
            $(".cart-item-card").remove();
            $(".cart-total").html(0);
		});
	}
}
</script>