{% load static %}
{# For loop #}
<div class="container col-lg-2 col-3">
    <div class="container product-thumbnail-container">
        <img src="https://lh3.google.com/u/0/d/1QNPca_9orDoVLifV2DlwgbuPLj0gV8wb=w3000-h5331-iv1" class="img-fluid">
    </div>
    <div class="container product-thumbnail-container">
        <img src="https://lh3.google.com/u/0/d/1QNPca_9orDoVLifV2DlwgbuPLj0gV8wb=w3000-h5331-iv1" class="img-fluid">
    </div>
    <div class="container product-thumbnail-container">
        <img src="https://lh3.google.com/u/0/d/1QNPca_9orDoVLifV2DlwgbuPLj0gV8wb=w3000-h5331-iv1" class="img-fluid">
    </div>
    <div class="container product-thumbnail-container">
        <img src="https://lh3.google.com/u/0/d/1QNPca_9orDoVLifV2DlwgbuPLj0gV8wb=w3000-h5331-iv1" class="img-fluid">
    </div>
</div>