{% load static %}
{% load humanize %}

<!-- Main Image -->
<div class="col-lg-5 col-9 d-flex flex-column justify-content-center align-items-center">
    <div class="row large-product-container">
        {% if product.imageURL %}
        <img src="{{ product.imageURL }}" class="img-fluid main-image">
        {% else %}
        <img src="{% static '/images/placeholder.jpg' %}" class="img-fluid main-image">
        {% endif %}
    </div>
    {% include "./image-list.html" %}
</div>

<!-- Description -->
<div class="col-lg-4 col-12">
    <h1 class="header mt-0">
        {{ product.name }}
    </h1>
    <p class="my-3">
        <i>In Stock: {{ product.stock }}</i>
    </p>
    <h2 class="header-secondary desc-header my-3">
        DESCRIPTION
    </h2>
    <div class="my-3">
        {{ product.description }}
    </div>
    <h2 class="price my-4">
        ₱{{ product.price | floatformat:2 | intcomma }}
    </h2>

    <button class="btn btn-secondary btn-block" type="button"
        data-product="{{ product.id }}" 
        data-action="add" 
        data-product="{{ item.product.id }}">
        Add to cart
    </button>
</div>