{% load static %}

<!-- Main Image -->
<div class="container col-lg-5 col-9 d-flex justify-content-center align-items-center" id="large-product-container">
    {% if product.imageURL %}
    <img src="{{ product.imageURL }}" class="img-fluid">
    {% else %}
    <img src="{% static '/images/placeholder.jpg' %}" class="img-fluid">
    {% endif %}
</div>

<!-- Description -->
<div class="container col-lg-5 col-12">
    <h1 id="product-name" class="mt-3">{{ product.name }}</h1>
    <p class="my-4"><strong>In Stock: </strong>{{ product.stock }}</p>
    <h2 id="specifications-header">SPECIFICATIONS</h2>
    <div class="container">
        {{ product.description }}
    </div>
    <p id="price">{{ product.price|floatformat:2 }}</p>

    <div class="row">
        {% include "../../cart/quantity.html" %}
        <div class="container col-10 d-flex justify-content-start align-items-center">
            <button id="add-cart-button" type="button" class="btn">Add to cart</button>
        </div>
    </div>
</div>