{% load static %}

<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
  <div class="card card-shadow" style="width: 18rem;">
    <a href="{% url 'product_details' product_id=product.id %}" style="text-decoration: none; color: inherit;">
      {% if product.imageURL %}
        <img src="{{ product.imageURL }}" class="card-img-top">
      {% else %}
        <img src="{% static '/images/placeholder.jpg' %}" class="card-img-top">
      {% endif %}
    <div class="card-body">
      <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
    </a>
      <p class="card-text">{{ product.price|floatformat:2 }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <p class="card-text m-0">{{ product.stock }} in stock</p> 
        <button onclick="updateCart(this)" data-product="{{product.id}}" data-action="add" type="button" class="btn btn-light add-btn update-cart"><i class="fas fa-shopping-cart"></i></button>
      </div>
    </div>
  </div>
</div>