{% load static %}
{% load humanize %}

<div class="col col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center px-2">
  <div class="card product-card card-shadow">
    <a href="{% url 'product_details' product_id=product.id %}">
      {% if product.imageURL %}
        <img src="{{ product.imageURL }}" class="card-img-top">
      {% else %}
        <img src="{% static '/images/placeholder.jpg' %}" class="card-img-top">
      {% endif %}
    </a>
    <div class="card-body">
      <h5 class="card-title font-weight-bold text-truncate">{{ product.name }}</h5>
      <h5 class="price card-price">₱{{ product.price|floatformat:2|intcomma }}</h5>
      <div class="d-flex justify-content-between align-items-center">
        <i class="card-stock m-0"><h6>{{ product.stock }} in stock</h6></i> 
        <button onclick="updateCart(this)" data-product="{{ product.id }}" data-action="add" type="button" class="btn btn-warning add-btn update-cart">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
  </div>
</div>