{% load static %}

<section class="container product-group">
  {% for product in products %}
    {% if forloop.first %}
      <div class="row no-gutters">
    {% endif %}
    
    {% if forloop.counter0|divisibleby:"4" and not forloop.first%}
      </div>
      <div class="row no-gutters">
      {% include './product-card.html' %}
    {% else %}
      {% include './product-card.html' %}
    {% endif %}

    {% if forloop.last and not forloop.counter0|divisibleby:"4" %}
      </div>
    {% endif %}
    
  {% endfor %}
</section>

