{% load static %}

<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
  <div class="card card-shadow" style="width: 18rem;">
    <img class="card-img-top" src="{{ product.imageURL }}" />
    <div class="card-body">
      <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
      <p class="card-text">{{ product.price|floatformat:2 }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <p class="card-text m-0">{{ product.stock }} in stock</p> 
        <i class="fas fa-shopping-cart"></i>
      </div>
    </div>
  </div>
</div>