{% extends '../partials/base.html' %}
{% load static %}
  
{% block title %}Home | WilsonAds{% endblock %}

{% block body %}
<!-- Banner -->
{% include '../partials/home/banner.html' %}

<!-- Product Group 1 -->
<div class="m-md"></div>
<section class="justify-content-between">
    <h1 class="display-4 m-md-5 text-center header">
        Top-Selling Laptops
    </h1>
    <img src="{% static "/images/art/product-group1.svg" %}" id="imgEl1" />
</section>
{% with group_one_products|slice:":4" as row_one_products %}
{% with group_one_products|slice:"4:8" as row_two_products %}
{% include '../partials/product/product-group.html' %}
{% endwith %}
{% endwith %}

<!-- Product Group 2 -->
<div class="m-big"></div>
<section class="d-flex align-items-center">
    <img src="{% static "/images/art/product-group2.svg" %}" id="imgEl2" />
    <h1 class="display-4 header text-center pr-4">
        For the Virtual Worker
    </h1>
</section>
<div class="d-flex justify-content-center" id="productHeader2">
    <img src="{% static "/images/art/circles.svg" %}" id="imgEl2b" />
</div>
{% with group_two_products|slice:":4" as row_one_products %}
{% with group_two_products|slice:"4:8" as row_two_products %}
{% include '../partials/product/product-group.html' %}
{% endwith %}
{% endwith %}

<!-- Contact Us -->
{% include '../partials/home/contact.html' %}
{% endblock %}